.image-item {
    align-items: center;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.moviename {
    background-color: rgb(212, 212, 195);
    padding: 20px;
    font-weight: 400;
    border-radius: 10px;
    justify-content: center;
}

.moviename p {
    margin: 0;
    padding-bottom: .3em;
    font-weight: 400;
    font-size: 20px;
    font-stretch: expanded;
}

.btn {

    background-color: rgb(131, 141, 151);
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-top: 5px;

}

.btn:hover {
    background-color: black;
    color: whitesmoke;

}