.movie-container {
    margin: 15px 15px;
    display: grid;
    grid-template-columns: 3fr .75fr;
    border-radius: 30px;
}
.product-container {
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 
    
}
.cart-container{
    padding-left: 10px
}

.movie-name-card{
    text-align: center;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: rgb(212, 212, 195);
    color: black;
    font-weight: bold;
}
